/*css reset*/
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
html,body {
    position: absolute;
    height: auto;
    width: 100%;
    font-family: "微软雅黑", "宋体", Arial;
    color: #333;
}
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4,h5, h6, pre,form, fieldset, input,
textarea, p, blockquote, th, td {
    padding: 0;
    margin: 0;
}

ul,
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}
i,
em {
    font-style: normal;
}
img {
    border: none;
}
/*浮动样式*/
.fl {
    float: left;
}
.fr {
    float: right;
}
.hidden {
    display: none;
}
.hide{visibility: hidden;}
/*超出省略号*/
.ell {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

header,section,footer{width: 800px;height: auto;margin: 0 auto;}
header{margin:30px 0px 50px 0px;padding-left: 150px;}
.color{color: green;font-weight: bold;}
.color:hover{color: #D05747!important;}
.logo{width: 200px;height: 60px;}
section h2{text-align: center;font-weight: bold;font-size: 32px;}
.loginBox{height: 200px;text-align: center;margin-top: 50px;}
.loginBox .loginTip{margin: 0 auto;text-align: center;
    line-height: 26px;color:#D05747;font-size: 18px;font-weight: bold;}
.loginBox .greenTip{font-size: 16px;margin: 0px;}
#code{height: 50px;width: 250px;background: #f0f0f0;color: #000;font-size: 18px;border:none;outline: none;}
.red{color: red;}
.loginBox p,.findBox p{margin: 15px 0;}
#sureBtn{width: 100px;height: 35px;background: #02a6d0;border: none;color: #fff;font-size: 16px;cursor: pointer;}
#sureBtn:hover{background: #008aad;}
.findBox{height: 230px;text-align: center;position: relative;margin-bottom: 50px;border-bottom: 1px solid #c8c8c8;}
.title{font-weight: normal;margin-bottom:10px;}
#name{width: 160px;height: 35px;background: #f0f0f0;color: #000;font-size: 16px;border: none;outline: none;}
.zqSearch{position: absolute;left: 255px;top: 100px;background: #fff;z-index: 1;
border: 1px solid #E5E5E5;height: auto;width: 160px;border-top: none;}
.nameList li{text-align: left;}
.nameList li:hover{background: #f0f0f0;cursor: pointer;}
/*.nameList{height: 200px;overflow-y: scroll;}*/
#startGrade{width: 100px;height: 34px;background: #02a6d0;border: none;color: #fff;font-size: 18px;
    cursor: pointer;margin-top: -10px;margin-left: 25px;}
#startGrade:hover{background:#008aad; }
.bottomTip{position: absolute;bottom: 35px;left: 0px;right: 0px;color: #333;font-weight: bold;}

.gradeBox{height: 400px;text-align: center;border-bottom: 1px solid #c8c8c8;}
.gradeBox h5{margin: 15px 0px;}
.unfinish{color: #F00000;margin: 10px;}
.option{width: 600px;margin:0 auto;text-align: left;padding-left: 200px;position: relative;}
.option .optionSelect{display:inline-block;width: 120px;margin: 6px 30px;}
.option .detail{display: inline-block;width: 170px;height: auto;position: absolute;background: #f5f5f5;border-radius: 10px;
    right: -80px;top: -55px;font-size: 14px;text-align: justify;border: 1px solid #f5f5f5;padding: 10px;display: none;}
.gradeBox button{border: none;border-radius: 10px;width: 130px;color: #fff;
    height: 35px;margin: 10px 15px;outline: none;cursor: pointer;}
.gradeBox button:hover{background: #f38e32!important;}
.gradeBox .restart:hover{background: #53D9F2!important;}
.showBox{height: auto;overflow-y: scroll;}
.showBox::-webkit-scrollbar{
    display: none;
}
.comment-cell{height: 230px;margin: 30px 0px;border-bottom: 1px solid #c8c8c8;}




